.profile {
    display: flex;
}

.profile-container {
    background-color: white;
    flex: 6;
}

.profile-top {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.profile-left {
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    padding: 10px;
    position: relative;
}

.profile-title {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 10px;
}

.profile-editButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    color: #7451f8;
    background-color: #7551f818;
    cursor: pointer;
    border-radius: 0px 0px 0px 5px;
}

.profile-item {
    display: flex;
    gap: 20px;
}

.profile-itemImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-itemTitle {
    margin-bottom: 5px;
    color: #555;
}

.profile-detailItem {
    margin-bottom: 5px;
    font-size: 14px;
}

.profile-itemKey {
    font-weight: bold;
    color: gray;
    margin-right: 5px;
}

.profile-itemValue {
    font-weight: 300;
}

.profile-right {
    flex: 2;
}

.profile-bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 10px 20px;
    border-radius: 15px;
}