.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 150px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
    margin-bottom: 20px;
}

.widget::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(to top right,
            rgb(26, 115, 232),
            white);
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}

.widget:hover::before {
    transform: scale(3);
}

.widget.active::before {
    transform: scale(3);
}

.widget.active {
    color: white !important;
}

.widget:hover {
    color: white !important;
}

.widget .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.widget .left .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.widget .left .counter {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 15px;
}

.widget .left .link {
    width: max-content;
    font-size: 14px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.widget .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.widget .right .percentage {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.widget .right .positive {
    color: green;
}

.widget .right .negative {
    color: red;
}

.widget .right .icon {
    font-size: 2rem;
    padding: 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-top: auto;
}