.home {
    display: flex;
}

.home-container {
    background-color: white;
    flex: 6;
}

.widgets {
    display: flex;
    padding: 10px 20px 0 20px !important;
    gap: 20px;
}

.chart {
    display: flex;
    padding: 0 20px;
    gap: 20px;
}