.monitor {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
    margin-bottom: 7%;
}

.monitor-left {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.monitor-title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 2px;
}

.monitor-title-dark {
    color: #fff !important;
}

.monitor-unit {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.monitor-unit-dark {
    color: #eeeeee !important;
}

.monitor-right {
    margin-top: 10px;
    margin-left: 20px;
}