.sidebar {
    height: 100%;
    border-right: 0.5px solid rgb(230, 227, 227);
}

.top {
    margin: 7% 0;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(26, 115, 232)
}

.sidebar hr {
    position: relative;
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
}

.center {
    padding-left: 10px;
}

.center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.center ul .title {
    font-size: 15px;
    font-weight: bold;
    color: #999;
    margin: 5% 0;
}

.center ul li {
    display: flex;
    align-items: center;
    padding: 6px;
    cursor: pointer;
}

.center ul li:hover {
    background-color: #ece8ff;
}

.center ul .icon {
    font-size: 18px;
    color: rgb(26, 115, 232)
}

.center ul span {
    font-size: 18px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}

.bottom {
    display: default;
    align-items: center;
    margin: 10px;
}

.current-selected {
    background-color: #ece8ff;
}

@media screen and (max-width: 1300px) {
    .center {
        margin-left: 5%;
    }

    .logo {
        font-size: 100px;
    }

    .top {
        margin: 1% 0;
    }

    .center ul .title {
        font-size: 40px;
        margin: 2% 0;
    }

    .center ul li {
        margin-bottom: 1%;
    }

    .center ul .icon {
        font-size: 40px;
        margin: 1% 2%;
    }

    .center ul span {
        font-size: 40px;
        margin: 1% 2%;
    }
}

@media screen and (max-width: 768px) {
    .center {
        margin-left: 2%;
    }

    .logo {
        font-size: 50px;
    }

    .center ul .title {
        font-size: 30px;
    }

    .center ul .icon {
        font-size: 25px;
    }

    .center ul span {
        font-size: 25px;
    }
}