.delivery {
    display: flex;
}

.delivery-container {
    background-color: white;
    flex: 6;
}

.delivery-map {
    display: flex;
    padding: 10px 20px 0 20px !important;
    gap: 5px;
}

.country-component {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 10px;
    gap: 5px;
}