.c3-chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.prediction-chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 2px;
    width: 100%;
    height: 90vh;
}

.bar-chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 2px;
    width: 100%;
    height: 60vh;
}

.pie-chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 2px;
    width: 100%;
    height: 60vh;
}


.stacked-chart {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 35vh;
}

.mixed-bar-chart {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 35vh;
}

.two-level-pie-chart {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 35vh;
}

.monitor-chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 45vh;
}

.custom-active-chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 45vh;
}

.multi-chart {
    padding: 10px;
    margin-top: 1%;
}

.multi-chart-row {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 40vh;
}

.small-charts {
    padding: 5px 20px;
}

.line-bar-area {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 40vh;
}

.profile-chart {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    height: 30vh;
}

.chart-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.chart-title {
    font-size: 20px;
    padding: 5px 15px;
    font-weight: bold;
}

.chart-bottom {
    text-align: center;
    color: grey;
}

.summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    text-align: center;
}

.itemTitle {
    font-size: 16px;
    color: gray;
    padding: 0 20px;
}

.itemResult {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 14px;
    padding: 0 25px;
}

.positive {
    color: green !important;
}

.negative {
    color: red !important;
}

.featuredChart {
    width: 100px;
    height: 100px;
}